.auction-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  flex: 1;
  border: 1px solid black;
  height: 78vh;
  
  border-radius: 20px;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;;
}

.details-container {
  flex: 1;
  
  height: 78vh;
  display: block;
  justify-content: space-around;

  margin-right: 1%;
  margin-top: 1%;
  
}

.auctionTitle{
  margin: 0;
}

.BidParagraph,
.StatusParagraph,
.TimeParagraph{
  margin: 1%;
}

.placeBidContainer{
  display: flex;
  justify-content: end;
}

.description {
  padding: 1%;
  height: 34%;
  border: 1px solid black;
  border-radius: 20px;
  align-self: flex-start;
}

.PlaceBidBtn{
  background-color: rgb(244, 255, 39);
  border-radius: 20px;
  margin-left: 1%;
}

.bids{
  padding: 1%;
  margin-top: 1%;
  height: 58.5%;
  border: 1px solid black;
  border-radius: 20px;
}
.bids ul {
  list-style-type: none;
  padding: 0;
}

.bids li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bids li img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
  border-radius: 50%; /* Optional: make the images circular */
}





/* Additional styling can be added as needed */

