/* General Styles */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    height: 100vh;
    width: 100vw;
    
  }
  
  /* Visual Styles */
  .visualContainer {
    height: auto;
    flex-grow: 10;
   /* background-color: rgb(239, 240, 240);*/
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0%;
    background-color: rgb(239, 240, 240);
    margin-top: 0;
    
  }
  
  .presentacija {
    margin-top: 10%;
    min-height: 30%;
    min-width: 30%;
  }
  
  
  .logoPic {
    margin-top: 5%;
    margin-bottom: 25%;
  }

  .logoPicSignup {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  /* Form Styles */
  .auctionText{
    margin-right: 1%;
  }
  .LoginText {
    font-size: 100%;
    margin-right: 2%;
  }
  .SigninText{
    margin-right: 2%;
  }
  .esetPasswordText{
    margin-right: 2%;
  }

  #username {
    border-radius: 20px;
  }
  #surname{
    border-radius: 20px;
  }
  #Email{
    border-radius: 20px;
  }
  
  .form {
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 100vh;
    max-width: 550px;
    min-width: 550px;
    text-overflow: ellipsis; /* Truncate text with an ellipsis */
    white-space: nowrap; /* Prevent wrapping of text */
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
  }
  
  .form-group {
    margin-bottom: 5%;
  }
  
  .label {
    display: block;
    margin-bottom: 1%;
    text-align: left;
    margin-left: 1%;
  }
  
  .form-control {
    width: 100%;
    padding: 3%;
    border-radius: 20px; /* Make input fields more round */
    border: 1px solid #ccc;
  }

  .formUsername {
    width: 100%;
    padding: 8%;
    border-radius: 20px; /* Make input fields more round */
    border: 1px solid #ccc;
    margin-right: 40px;
  }

  .paragraph {
    margin-right: 4%;
  }
  .SignUpParagraph{
    margin-right: 4%;
  }

  .LoginToSignupLink {
    color: black;
  }
  .SignUpToLoginLink {
    color: black;
  }
  
  .LoginForm {
    margin: 3%;
    margin-right: 4%;
  }
  .SigninForm {
    margin: 3%;
    margin-right: 4%;
  }
  .ResetPasswordForm{
    margin: 3%;
    margin-right: 4%;
  }
  
  .btn {
    margin-top: 7%;
    
    margin-right: 4%;
    width: 504.5px;
    padding: 10px;
    background-color: rgb(244, 255, 39);
    color: white;
    border: none;
    border-radius: 20px; /* Make button more round */
    cursor: pointer;
    color: black;
  }
  
  .btnBackToLogin{
    margin-top: 2%;

    margin-right: 4%;
    width: 504.5px;
    padding: 10px;
    background-color: rgb(244, 255, 39);
    color: white;
    border: none;
    border-radius: 20px; /* Make button more round */
    cursor: pointer;
    color: black;
  }

  .btnSubmitSignup{
    margin-top: 2%;
    
    margin-right: 4%;
    width: 504.6px;
    padding: 10px;
    background-color: rgb(244, 255, 39);
    color: white;
    border: none;
    border-radius: 20px; /* Make button more round */
    cursor: pointer;
    color: black;
  }
  
  .btn:hover,
  .btnBackToLogin:hover,
  .btnSubmitSignup:hover {
    background-color: lightslategray;
    color: white;
  }

  
  .link {
    display: block;
    text-align: right;
    margin-right: 1%;
  }
  
  .linkBackToLogin {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;

    margin-right: 4%;
  }

  .SignUpParagraph{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    margin-left: 3.5%;
  }



 
  