.main {
    padding: 20px;
  }
  
  .HelloUserText {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auctionsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

.OptionBtns {
    display: flex;
    justify-content: center;
}

.ContentOptions {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: lightcyan;
    padding: 0.5%;
    border-radius: 50px;
    width: fit-content;
}

.ContentOptions button {
    background-color: lightcyan;
}

.ContentOptions button.active {
    background-color: black; 
    color: white;
    border-radius: 20px;
  }

.MyAuctions {
    display: flex;
    justify-content: center;
    align-self: center;
}
.Bidding {
    display: flex;
    justify-content: center;
    align-self: center;
}
.Won {
    display: flex;
    justify-content: center;
    align-self: center;
}

.HelloUserTextContainer{
    display: flex;
    margin: 0;
    margin-bottom: 0;
}


