.uniqueAuctionItem {
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 15rem;
  height: 18rem;
}

.uniqueStatus {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.uniqueTimeParagraph {
  font-style: italic;
  font-size: 10px;
}

.uniqueName {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 3%;
}

.uniquePrice {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.uniqueImage {
  width: 100%;
  height: 58%;
  object-fit: cover;
}

.uniqueAuctionStatus {
  border-radius: 10px;
  padding: 2px 6px;
  font-size: 10px;
}

.uniqueInProgressStatus {
  background-color: yellow;
}

.uniqueWinningStatus {
  background-color: greenyellow;
  color: black;
  padding: 2%;
  border-radius: 20px;
  font-size: 10px;
}

.uniqueTimeParagraph.uniqueRed {
  background-color: lightcoral; /* Adjust color as needed */
  color: black;
  padding: 2%;
  border-radius: 10px;
}








/* /////////////////////////// */









