.auctionItemContainer {
  background-color: #f2f2f2;
  padding: 5px; /* Smaller padding */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 15rem;
  height: 18rem;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TimeParagraphItem {
  font-size: 1px; /* Smaller font size */
}

.nameContainer {
  font-size: 14px; /* Smaller font size */
  margin-bottom: 3%;
}

.price {
  font-weight: bold;
  font-size: 15px; /* Smaller font size */
  margin-bottom: 5px; /* Adjusted margin */
}

.Pic {
  width: 100%;
  height: 58%;
  border-radius: 10px;
  object-fit: cover;
}

.auctionStatus {
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 10px;
  padding: 2%;
}


